.footer{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px;
  }
  
  .footer_teil{
    margin: 15px;
  }

@media screen and (max-width: 480px) {
   .container{
    max-width: 300px;
   }
   .benutzerbild {
    max-width: 200vw;
   }
 }