/* Allgemeine Stile */
.downloadmain {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("img/JobBock.png") no-repeat center center fixed;
    background-size: cover; /* Bild über die gesamte Seite */
    color: #1DB954; 
    text-align: center;
}

.downloadmain h1 {
    font-size: 2.5rem;
}

.downloadmain p {
    font-size: 1.2rem;
    margin: 1rem 0;
    text-shadow: 0 0 5px rgba(29, 185, 84, 0.8), 0 0 10px rgba(29, 185, 84, 0.5);
}

.download-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Füllt den gesamten Bildschirm aus */
    padding: 50px 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Schwarzer Overlay für bessere Lesbarkeit */
    box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.5); /* Dunkler Effekt von innen */
}

/* Download-Buttons und Badges */
.containerbutton {
    display: flex;
    gap: 15px; /* Abstand zwischen den Buttons */
    justify-content: center;
    align-items: center;
    padding: 20px 0; /* Abstand nach oben und unten */
}

.containerbutton a {
    text-decoration: none;
}

/* Google Play Store Badge */
.bn45 {
    height: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.bn45:hover {
    transform: translateY(-5px);
   
}

/* Apple App Store Badge */
.bn46 {
    width: 170px;
    height: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.bn46:hover {
    transform: translateY(-5px);
   
}

/* Logo unter den Badges */
.logo_download {
    margin-top: 30px;
    width: 150px;
    height: auto; /* Proportional skalieren */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.logo_download:hover {
    transform: scale(1.1) rotate(5deg); /* Leichte Drehung und Vergrösserung */
    opacity: 0.9;
}






