
header{
    position: sticky;
    top: 0px;
    z-index: 100000000;
}
.start{
    background: url(/img/hero.jpg) center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    position: relative;
}


@media (min-width: 1000px) {


 
.start{
        background: url(/img/hero.jpg) center/cover no-repeat;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        /*align-items: center;*/
        text-align: center;
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        position: relative;
 }



.rating{
    background: url(/img/rating.jpg) center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    text-align: left;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    position: relative;
}

.rating-text{
    padding-right: 400px;
    padding-left: 400px;
    margin-top: 175px;
}
.team{
    background: url(/img/team.jpeg) center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    position: relative;
}



.bildauszeichnung{
    height: 50px;
    margin-right: 20px;
    top: 0;
}
.checked {
    color: gold;
    height: 20px;
    margin-top: 7px;
  }
  .auszeichungstern{
    margin-top: 20px;
    height: 50px;
    display: flex;
    flex-direction: row;
  }
  .auszeichungstern button{
    margin-top: 0px;
    
  }

}